body{
  margin:0;
  padding:0;
  text-align:center;
  background:#ccc url(https://picsum.photos/1200/?bluescale)no-repeat;
}
h1{
  font-size: 250%;
  color: black;
}
h2{
  font-size: 150%;
  color:blue;
}
button{
  color: white;
  font-size: 100%;
  background-color: black;
  border-color: brown;
}